 body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

button {
  margin: 5px;
  padding: 8px 12px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.section {
  padding: 40px;
}

.hidden {
  display: none;
}

input, textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
}

.skills span {
  background: #334155;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

